<%- include("partials/header"); -%>

<form div class="form-control-lg" action="/" method="post">
  <h1>BMI Calculator</h1>
  <input type="text" name="height" placeholder="Enter Your Height">
  <input type="text" name="weight" placeholder="Enter Your Weight">
  <button type="submit" name="submit">Calculate BMI</button>
</form>

<%- include("partials/footer"); -%>
