<%- include("partials/header"); -%>

<div class="card">

  <!-- Posts results to the /results route -->
  <form action="/results" method="post">
    <div class="mb-3">
      <img class="top-image" src="images/humanoid.png" alt="">
    </div>
    <h1 class="header-txt">BMI Calculator</h1>

    <!-- Radio Group to pick your units -->
    <div class="form-check">
      <input class="form-check-input" type="radio" name="unitradio" value="metric" checked>
      <label class="form-check-label" for="metric">
        Metric
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="unitradio" value="imperial">
      <label class="form-check-label" for="imperial">
        Imperial
      </label>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Weight (in kgs)</label>
      <input type="text" class="form-control" name="weight" id="weight" aria-describedby="emailHelp" placeholder="Input weight">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Height (in cm)</label>
      <input type="text" class="form-control" name="height" id="height" placeholder="Input height">
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
  </form>

  <a hidden href="https://www.flaticon.com/free-icons/body" title="body icons">Body icons created by SBTS2018 - Flaticon</a>
</div>
<%- include("partials/footer"); -%>
