html,
body {
  height: 100%;
  color: #576F72
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7D9D9C;
}

.header-txt {
  text-align: center;
}

.top-image {
  margin: 20px;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: #F0EBE3;
  padding: 5%;
}

.form-group {
  margin: 2%;
}

.btn {
  margin-top: 2%;
}
